@mixin center-items {
  display: flex;
  align-items: center;
}
@mixin red-circle-style {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 2px solid white;
  position: absolute;
  background-color: #fb7181;
  top: -10px;
  left: 12px;
}
@mixin brand-names-p {
  color: #262626;
  font-family: "Proxima Nova";
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  transition: 0.3s;
}
@mixin brand-counts-p {
  color: #7d7d7d;
  font-family: "Proxima Nova";
  font-size: 18px;
  font-weight: 400;
}
@mixin leftbar-headers {
  color: #22262a;
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 500;
}
@mixin leftbar-content-box {
  padding: 19px 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 270px;
  background-color: #f6f7f8;
}
@mixin color-circles-style {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

@mixin space-between {
  display: flex;
  justify-content: space-between;
}
@mixin name-number-box-model {
  width: 128.2px;
  height: 38px;
  justify-content: space-between;
  padding-right: 16px;
  text-align: center;
  border: 3px solid rgb(241, 241, 241);
  border-radius: 5px;
}

@mixin product-box-template {
  width: 299.5px;
  height: 385px;
  border: 3px solid #f6f7f8;
}

@mixin product-name-font-template {
  color: #223263;
  font-size: 18px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.5px;
}

@mixin products-grid-template {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px;
}
@mixin new-price-template {
  color: #40bfff;
  font-size: 18px;
  font-weight: 700;
  line-height: 180%;
  letter-spacing: 0.5px;
}
@mixin initial-price-template {
  color: #9098b1;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.5px;
  text-decoration: line-through;
}

@mixin discount-template {
  color: #fb7181;
  font-size: 14px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.5px;
}
