.navbar-container {
  @include for-size (mobile){
    display: none;
  }
  .navigation-items {
    height: 72.52px;
    border-bottom: 2px solid #fafafb;
    padding: 34.53px 107.21px;
    @include center-items;
    justify-content: space-between;
    .language-settings {
      @include center-items;
      img {
        margin-left: 5.16px;
        margin-right: 13.15px;
        width: 6.667px;
        height: 4px;
      }
    }
    .profile-settings {
      @include center-items;
      gap: 14.26px;
      img {
        margin-right: -6.53px;
        width: 20px;
      }
      a {
        position: relative;
        img {
          width: 24px;
        }
        display: flex;
        align-items: center;
        margin: 30px;
      }
      .red-circle {
        @include red-circle-style;

        p {
          margin-left: 4.5px;
          color: #fff;
          text-align: center;
          font-family: "Poppins";
          font-size: 10px;
          font-style: normal;
          font-weight: 700;
          line-height: 150%;
          letter-spacing: 0.5px;
        }
      }
      p {
        margin-right: 14px;
        cursor: pointer;
      }
    }
  }
  .navbar-pages {
    padding: 34.53px 107.21px;
    height: 119px;
    @include center-items;
    justify-content: space-between;

    .logo-part {
      @include center-items;
      gap: 6.32px;
      cursor: pointer;
      h3 {
        color: #22262a;
        font-size: 18px;
        font-weight: 700;
        line-height: normal;
      }
    }
    .page-items {
      .pages {
        width: 807px;
        display: flex;
        gap: 90px;
      
       
      }
      .homepage-link:hover .dropdown-content{
        visibility: visible;
        
       }
      .dropdown-content {
        visibility: hidden;
        display: flex;
        gap:45.41px;
        @include dropdown-content-box;
        padding: 41.04px 32.07px 0px 84.14px;
        .navitems {
          display: flex;
          flex-direction: column;
          gap: 16px;
          h3 {
            height: 36px;
            color: #c1c8ce;
            font-size: 22px;
            font-weight: 500;
          }
          .categories {
            width: 137px;
            display: flex;
            flex-direction: column;
            gap: 25px;
            a {
              color: #262626;
              font-size: 16px;
              font-weight: 400;
            }
          }
        }
      }

      a:first-child {
        color: #33a0ff;
      }
      a {
      @include navbar-link-style;
      
      }
      a:hover {
        opacity: 0.6;
        
      }
      
    }
  }
}
.navbar-footer {
  @include center-items;
  justify-content: center;
  height: 51px;
  background-color: #f6f7f8;
  gap: 8px;
  @include for-size (mobile){
    display: none;
  }
  p {
    font-family: "Proxima Nova";
    font-size: 18px;
  }
  p:first-child {
    color: #33a0ff;
    cursor: pointer;
  }
  p:nth-child(2) {
    color: #c1c8ce;
  }
  p:last-child {
    color: #262626;
    cursor: pointer;
  }
}
